<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/teacher.css' %}">
    <title>{% block title %}  {% endblock title %}</title>
</head>
<nav>
    <div class="nav-title">
        <a href="{% url 'home' %}">Learnet</a>
    </div>
    <div class="nav-links">
        <ul class="nav-menu">
            <li><a href="{% url 'teacher_dashboard' %}" class="nav-link">Dashboard</a></li>
            <li><a href="{% url 'addcourse' %}" class="nav-link">Add Course</a></li>
            <li><a href="#" class="nav-link">Contact</a></li>
            {% if user.is_authenticated %}
            <li class="profile-img">
                <img src="{% static 'img/profile.jpg' %}" alt="Profile Image">
                <ul class="profile-links">
                    <li><a href="{% url 'student_dashboard' %}">Dashboard</a></li>
                    <li class="login"><a href="{% url 'logout' %}">Log-Out</a></li>
                </ul>
            </li>
            {% else %}
                <li class="login"><a href="{% url 'login' %}" class="nav-link">Log-In</a></li>
            {% endif %}
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>

<body>
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>