* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
    color: black;
}

input[type=text],
input[type=password],
input[type=email] {
    padding: 10px 20px;
    width: 100%;
    margin: 10px 0;
    border: 2px solid black;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
}

input:focus {
    border: 2px;
    outline: #dfdfdf solid 2px;
}

.role {
    text-align: center;
}

.role label {
    font-size: 20px;
}

.error {
    color: rgb(255, 94, 94);
    text-align: center;
}

.log-container {
    height: 100vh;
    background-color: #f2f5f5;
    padding: 40px 20px;
}

.log-img {
    display: block;
}

.log-img img {
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.log {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 20px #b4b4b4;
    height: fit-content;
}

.log-in-btn {
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: #147870;
    border: 1px solid #147870;
    border-radius: 5px;
    transition: 0.7s ease;
}

.sign-up-btn {
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(255, 94, 94);
    border: 1px solid rgb(255, 94, 94);
    border-radius: 5px;
    transition: 0.7s ease;
}

.log div {
    margin: 10px 0;
}

.forget {
    text-align: center;
    font-size: 20px;
}

.google-contain {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #fdbc02;
    border-radius: 5px;
}

.log-contain {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    width: 100%;
    background-color: #147870;
    border-radius: 5px;
}

.sign-contain {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: rgb(255, 94, 94);
    border-radius: 5px;
}

.sign-contain a {
    color: white !important;
}

@media(min-width:800px) {
    .log-container {
        display: flex;
        align-items: center;
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
    }

    .log {
        padding: 20px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sign {
        width: 300px;
    }

    .name-pass {
        display: flex;
    }

    .name-pass input {
        margin: 0 5px 0 0;
    }
}

@media (min-width: 1024px) {
    .sign {
        width: 500px;
    }

    .log-img img {
        width: 400px;
    }
}