{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{course.courseTitle}}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="single-course">
      <div class="single-course-heading">
        <div class="single-course-title">
          <div>
            <img src="{{ course.courseImage.url }}" alt="{{ course.courseTitle }}" />
          </div>
          <div>
            <h1>{{ course.courseTitle }}</h1>
          </div>
        </div>
        <div>
          {%if paid%}
          <a href="{% url 'read_course' course.slug chapter.pk chapter.chapterName %}" class="enroll">Read</a>
          {%else%}
          <button id="payment-button" class="enroll">Enroll Now</button>
          {% endif %}
        </div>
        <div>
          <form method="post" action="/cart/add/">
            {% csrf_token %}
            <input type="hidden" name="course_id" value="{{course.id}}" />
            <input type="submit" value="Add to cart" class="sub-btn" />
          </form>
        </div>
      </div>
      <div class="course-description">
        <div class="descrip">
          <div>
            <h1>Course Description:</h1>
          </div>
          <div>
            <pre>{{ course.courseDescrip }}</pre>
          </div>
        </div>
        <div class="author">
          <div>
            <h3>Author:</h3>
            <p>{{ course.teacher }}</p>
          </div>
          <div>
            {% if paid %}
            <a href="{% url 'read_course' course.slug chapter.pk chapter.chapterName %}" class="enroll">Read</a>
            {%else%}
            <button id="payment-button" class="enroll">Enroll Now</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
  <script>
    var config = {
      // replace the publicKey with yours
      "publicKey": "test_public_key_c41fa2f081e44957809cd4bf0e2496eb",
      "productIdentity": "{{course.id}}",
      "productName": "{{course.courseTitle}}",
      "productUrl": "http://127.0.0.1:8000/read/course/{{course.slug}}/chapter/{{chapter.pk}}/{{chapter.chapterName}}/",
      "paymentPreference": [
          "KHALTI",
          "EBANKING",
          "MOBILE_BANKING",
          "CONNECT_IPS",
          "SCT",
      ],
      "eventHandler": {
          onSuccess(payload) {
              // hit merchant api for initiating verification
              console.log(payload);
              return_url = "http://127.0.0.1:8000/read/course/{{course.slug}}/chapter/{{chapter.pk}}/{{chapter.chapterName}}/"
  
              // Fetching CSRF token from cookies
              const csrftoken = getCookie('csrftoken');
  
              // Making the POST request using fetch API
              fetch('http://127.0.0.1:8000/verify/payment/', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': csrftoken  // Including CSRF token in headers
                  },
                  body: JSON.stringify(payload)
              })
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  // You can handle response if needed
                  return response.json();
              })
              .then(data => {
                  // You can do something with the response data if needed
                  console.log(data);
                  window.location.href = return_url;
              })
              .catch(error => {
                  console.log(error);
                  console.error('There was a problem with your fetch operation:', error);
              });
          },
          onError(error) {
              console.log(error);
          },
          onClose() {
              console.log('widget is closing');
          }
      }
  };
  
  // Function to get CSRF token from cookies
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  
  var checkout = new KhaltiCheckout(config);
  var btn = document.getElementById("payment-button");
  btn.onclick = function () {
      // minimum transaction amount must be 10, i.e 1000 in paisa.
      checkout.show({amount: 10000});
  }
  </script>

{% endblock %}
